*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Jost', sans-serif;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

.cabecera{
    display: flex;
    flex-direction: column;
}
.cabecera__logo{
    background-color: black;
    display: flex;
    justify-content: center;
}
.logo{
    width: 24rem;
    height: 9rem;
    padding: 0.5rem;
    animation: animacionLogo 1s ease 0s 1 normal forwards;
}

.navbar{
    background-color: rgb(19, 19, 83);
}

.navbar-light .navbar-nav .nav-link{
    justify-content: center;
    font-size: 1.2rem;
    color: white;
    padding-left: 3.2rem;
    padding-right: 3.2rem;;
}

#navbarNavDropdown{
    justify-content: center;
}

.nav-link:hover{
    background-color:rgb(86, 76, 145);
}
.nav-link:active{
    background-color:rgb(75, 63, 139);
}

.navbar-toggler{
    background-color: rgb(24, 70, 114);
}

.dropdown-menu{
    background-color: rgb(81, 60, 156);
}

.navbar-toggler-icon, .dropdown-item, a:hover{
    color: white;
}

.dropdown-item:hover{
    background-color: rgb(126, 114, 167);
}

.nav-link:focus {
    color: rgb(117, 109, 233);
}
a{
    text-decoration: none;
    color: white;
}

.active{
    color: white;
}

h1{ 
    margin-bottom: 0;
}

h2{ 
    font-size: 1.3rem;
    margin-bottom: 0;
}

h2, h3{
    text-align: center;
}

h3{
    color: white;
    background-color: black;
    margin-bottom: 0;
}

.titulo, .tituloClaro{
    font-size: 1.4rem;
    text-align: center;
    align-items: center;
    padding: 2rem;
    background-color:  rgba(2, 2, 2, 0.541);
    color: white;
    
}

.tituloClaro{
    background-color: rgba(255, 255, 255, 0.274);
}

.subTitulo{
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
}

.parrafoInicial, .parrafoSecundario{
    font-size: 1.8rem;
    color: black;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.parrafoInicial p, .parrafoSecundario p{
    background-color:  rgba(2, 2, 2, 0.767);
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.parrafoSecundario p{
    font-size: 1.4rem;
    padding: 1rem;
}

.fondoInicio{
    background-image: url(./imagenes/printer.jpg);  
    background-size: cover;
}

.fondoPlotter{
    background-image: url(./imagenes/plotter.jpg);  
    background-size: cover;
}

.imagen, .mapa{
    padding-top: 2rem;
    text-align: center;
}

.mapa{
    padding: 1rem 1rem;
    background-color:  rgba(2, 2, 2, 0.479);
}

.container{
    display: flex;
    justify-content: center;
}

#carousel01, #carousel02, #carousel03{
    width: 70%;
}

.piePagina{
    background-color: black;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piePagina__lista{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.piePagina__lista li{
    list-style-type: none;
    color: white;
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

ol, ul{
    margin: 0;
}

