*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    font-family: 'Jost', sans-serif;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
}

.logo{
    width: 24rem;
    height: 9rem;
}

.navbar{
    background-color: rgb(19, 19, 83);
}

.navbar-light .navbar-nav .nav-link{
    justify-content: center;
    font-size: 1.2rem;
    color: white;
    padding-left: 3.2rem;
    padding-right: 3.2rem;;
}

#navbarNavDropdown{
    justify-content: center;
}

.nav-link:hover{
    background-color:rgb(86, 76, 145);
}
.nav-link:active{
    background-color:rgb(75, 63, 139);
}

.navbar-toggler{
    background-color: rgb(24, 70, 114);
}

.dropdown-menu{
    background-color: rgb(81, 60, 156);
}

.navbar-toggler-icon, .dropdown-item, a:hover{
    color: white;
}

.dropdown-item:hover{
    background-color: rgb(126, 114, 167);
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
}

h2{ 
    font-size: 1.3rem;
}

.titulo, .mapa{
    font-size: 1.4rem;
    background-color: rgba(0, 0, 0, 0.541);
    color: white;
}

.subTitulo{
    color: white;
}

.parrafoInicial{
    font-size: 1.7rem;
}

.parrafoInicial p, .parrafoSecundario p{
    background-color:  rgba(2, 2, 2, 0.767);
    color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.parrafoSecundario p{
    font-size: 1.4rem;
    padding: 2rem;
}

.fondoInicio{
    background-image: url(./imagenes/printer.jpg);  
    background-size: cover;
}

.fondoPlotter{
    background-image: url(./imagenes/plotter.jpg);  
    background-size: cover;
}

.fondoServicios{
    background-image: url(./imagenes/printer2.jpg);  
    background-size: cover;
}

.imagen, .mapa{
    padding-top: 2rem;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

#carousel01, #carousel02, #carousel03{
    width: 70%;
}

.piePagina{
    height: 7rem;
}

.piePagina__lista li{
    list-style-type: none;
    color: white;
    font-size: 0.9rem;
    padding-top: 0.5rem;
}

ol, ul{
    margin: 0;
}

.mb-4 {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 0;
    background-color: #00000052;
}

.mb-4 label{
    color: white;
}

.fa-solid, .fas {
    color: white;
}

p{
    color: white;
}

.row{
    justify-content: center;
}

.mb-0 {
    margin-top: 2rem;
    margin-bottom: 0;
}

.mb-2 {
    margin-bottom: 0!important; /* !important usado para sacar el margen inferior en section, que venía con un "margin-botton: 0.5rem!important" desde Bootstrap */
}

.mt-4{
    margin-top: 0;
}

textarea.form-control {
    height: 10rem;
}