.fondoInicio{
    background-image: url(../imagenes/printer.jpg);  
    background-size: cover;
}

.fondoProductos{
    background-image: url(../imagenes/ola-fondo.jpg); 
    background-size: cover;
}

.fondoPlotter{
    background-image: url(../imagenes/plotter5.jpg);  
    background-size: cover;
}

.fondoServicios{
    background-image: url(../imagenes/printer2.jpg);  
    background-size: cover;
}