.btn-primary{
    background-color: $azul-oscuro;
    border-color: $azul-intermedio;
}

.botonEnviar{
    background-color: $azul-oscuro;
    color: $color-fuente-principal;
}

.botonEnviar:hover{
    background-color: $azul-intermedio;
}

.formulario__item, .formulario__item--mensaje, .botonEnviar{
    width: 25rem;
}