.botonEnviar{
    width: 25rem;
    font-size: 1rem;
    height: 3rem;
    border-color: $azul-intermedio;
    background-color: $azul-oscuro;
    color: $color-fuente-principal;
    margin-bottom: 5rem;

        &:hover{
            background-color: $azul-claro;
        }
}