.botonEnviar{
    width: 15rem;
    font-size: 1rem;
    height: 3rem;
    border-color: map-get($colores, azul-intermedio);
    background-color: map-get($colores, azul-oscuro);
    color: map-get($colores, color-fuente-principal);
    margin-bottom: 5rem;
    border-radius: 0.8rem;

        &:hover{
            background-color: map-get($colores, azul-intermedio);
        }
}