.fondoPrincipal{
    background-color: map-get($colores, azul-intenso);
}

footer{
    bottom: 0;
    
    .logoFooter{
        width: 7rem;
    }
    
    .listaFooter{
        li{
            padding-top: 1rem;
            font-size: map-get($tamanio-tipografia, texto-pequenio);
            color: map-get($colores, color-fuente-principal);
            text-decoration: none;
            list-style: none;
        }
        a{
            text-decoration: none;
            color: map-get($colores, color-fuente-principal);
        }
    }
}