.formulario{
    padding: 1rem;

        .formulario__item {
            width: 25rem;
            font-size: map-get($tamanio-tipografia, texto-pequenio);
            height: 2rem;
        }
        .formulario__item--mensaje{
            width: 25rem;
            font-size: map-get($tamanio-tipografia, texto-pequenio);
            padding-bottom: 5rem;
        }
        
}
