.logo{
    width: 22rem;
    height: 9rem;
}

.navbar{
        background-color: $azul-intenso;

        .navbar-toggler{
            background-color: $azul-claro;

            .navbar-toggler-icon{
                color: $color-fuente-principal;
            }
        }

    }

.navbar-light .navbar-nav .nav-link{
    justify-content: center;
    font-size: 1.1rem;
    color: $color-fuente-principal;
    padding-left: 3rem;
    padding-right: 3rem;
}


.dropdown-menu{
    background-color: $azul-oscuro;
    
    .dropdown-item{
        color: $color-fuente-principal;

            &:hover{
                background-color: $azul-claro;
            }
    }
}

#navbarNavDropdown{
    justify-content: center;
}

.nav-link{
    border-radius: 0.3rem;
    
         &:hover{
              background-color: $azul-intermedio;
        }
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: $color-fuente-principal;
}
