h1, h2, h3, h4{ 
    color: $color-fuente-principal;
}

.parrafoInicial{
    font-size: $tamanio-texto-principal;

        & p{
            color: $color-fuente-principal;
        }
}

.parrafoSecundario{
    font-size: $tamanio-texto-secundario;
      
        & p{
             color: $color-fuente-principal;
    }

}

.bordeRedondeado{
    border-radius: $radio-borde;
}

.fondoOpaco{
    background-color: $negro-transparencia;
}

.animacionTexto{
    color: $color-fuente-principal;
    animation: animacionTexto 7s linear 0s infinite normal forwards;
}

@keyframes animacionTexto {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}
