$azul-intenso: rgb(20, 6, 100);
$azul-oscuro: rgb(43, 22, 163);
$azul-intermedio: rgb(41, 65, 145);
$azul-claro: rgb(113, 162, 219);
$negro-transparencia: rgba(2, 2, 2, 0.658);
$color-fuente-principal: white;
$tamanio-titulo: 1.4rem;
$tamanio-texto-principal: 1.6rem;
$tamanio-texto-secundario: 1.2rem;
$radio-borde: 1rem;
$tamanio-texto-grande: 2rem;

