$colores:(
    azul-intenso: rgb(20, 6, 100),
    azul-oscuro: rgb(35, 16, 145),
    azul-intermedio: rgb(29, 60, 161),
    azul-claro: rgb(123, 153, 189),
    negro-transparencia: rgba(2, 2, 2, 0.705),
    color-fuente-principal: white,
);

$tamanio-tipografia:( 
    titulos: 1.4rem,
    texto-principal: 1.6rem,
    texto-secundario: 1.2rem,
    texto-grande: 2rem,
    texto-pequenio: 1rem,
    );
    
$radio-borde: 1rem;

%flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin background-image($urlImagen){
    background-image: $urlImagen;
    background-size: cover;
};
